<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   	xmlns="http://java.sun.com/xml/ns/javaee" 
   	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
   	version="3.0"> 

  	<display-name>Manager Device Webapp</display-name>
  	
	
	<servlet>
		<servlet-name>OutletServlet</servlet-name>
		<servlet-class>com.iggie.managerdeviceapp.OutletServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OutletServlet</servlet-name>
		<url-pattern>/serve/*</url-pattern>
	</servlet-mapping>

  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
</web-app>
