<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   	xmlns="http://java.sun.com/xml/ns/javaee" 
   	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
   	version="3.0"> 

  	<display-name>Manager Device Webapp</display-name>
  	
	
	<servlet>
		<servlet-name>OutletServlet</servlet-name>
		<servlet-class>com.iggie.managerdeviceapp.OutletServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.iggie.managerdeviceapp.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseServlet</servlet-name>
        <servlet-class>com.iggie.managerdeviceapp.DatabaseServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
		<servlet-name>OutletServlet</servlet-name>
		<url-pattern>/serve/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseServlet</servlet-name>
        <url-pattern>/db/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>Outlet DB name</description>
        <param-name>outletdbname</param-name>
        <param-value>outletdb</param-value>
    </context-param>
    <context-param>
        <description>Outlet Id</description>
        <param-name>outletId</param-name>
        <param-value>1</param-value>
    </context-param>

    <session-config>
        <session-timeout>5000</session-timeout>
    </session-config>
</web-app>
